app/src/main/res/layout/activity_main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RelativeLayout" type="RelativeLayoutType"/>
  <xs:complexType name="SeekBarType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:id" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_alignLeft" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_below" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_marginTop" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute type="xs:string" name="style" use="optional"/>
        <xs:attribute ref="and:layout_alignParentTop" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_centerHorizontal" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:text" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textColor" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textSize" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:focusable" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:editable" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:enabled" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textStyle" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:gravity" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textAppearance" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextViewType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:id" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute type="xs:string" name="style" use="optional"/>
        <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_alignParentTop" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_centerHorizontal" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_marginTop" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:text" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textColor" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textSize" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:focusable" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:editable" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:enabled" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textStyle" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:gravity" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_below" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textAppearance" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ButtonType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:text" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:id" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_below" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_centerHorizontal" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_marginTop" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:singleLine" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:background" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textColor" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textStyle" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:textSize" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RelativeLayoutType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="TextViewType" name="TextView"/>
      <xs:element type="SeekBarType" name="SeekBar"/>
      <xs:element type="ButtonType" name="Button"/>
      <xs:element type="viewType" name="view"/>
    </xs:choice>
    <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:background" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:paddingBottom" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:paddingLeft" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:paddingRight" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:paddingTop" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="tool:context" xmlns:tool="http://schemas.android.com/tools"/>
  </xs:complexType>
  <xs:complexType name="viewType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute ref="and:id" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_alignTop" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_toLeftOf" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>