app/src/main/res/layout/activity_main.xml2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.android.com/apk/res/android" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="layout_alignParentTop" type="xs:string"/>
  <xs:attribute name="textStyle" type="xs:string"/>
  <xs:attribute name="layout_below" type="xs:string"/>
  <xs:attribute name="paddingBottom" type="xs:string"/>
  <xs:attribute name="textAppearance" type="xs:string"/>
  <xs:attribute name="id" type="xs:string"/>
  <xs:attribute name="layout_width" type="xs:string"/>
  <xs:attribute name="layout_alignTop" type="xs:string"/>
  <xs:attribute name="layout_centerHorizontal" type="xs:string"/>
  <xs:attribute name="gravity" type="xs:string"/>
  <xs:attribute name="textSize" type="xs:string"/>
  <xs:attribute name="layout_height" type="xs:string"/>
  <xs:attribute name="layout_toLeftOf" type="xs:string"/>
  <xs:attribute name="layout_alignLeft" type="xs:string"/>
  <xs:attribute name="background" type="xs:string"/>
  <xs:attribute name="paddingLeft" type="xs:string"/>
  <xs:attribute name="editable" type="xs:string"/>
  <xs:attribute name="paddingRight" type="xs:string"/>
  <xs:attribute name="singleLine" type="xs:string"/>
  <xs:attribute name="text" type="xs:string"/>
  <xs:attribute name="layout_marginTop" type="xs:string"/>
  <xs:attribute name="textColor" type="xs:string"/>
  <xs:attribute name="paddingTop" type="xs:string"/>
  <xs:attribute name="focusable" type="xs:string"/>
  <xs:attribute name="enabled" type="xs:string"/>
</xs:schema>